<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .jumbotron {
            width: 60%;
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            margin-left: 21%;
            background-color: #e9ecef;
            border-radius: .3rem;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<h2 style="text-align : center">비밀번호 변경</h2><br/>

<div class="container">
    <div class="col-4"></div>
    <div class="jumbotron" style="padding-top : 1px;">
        <br/>

        <form th:action th:object="${member}" method="post">
            <div>
                <label for="memberPassword" th:text="#{label.member.memberPassword}">비밀번호</label>

                <input type="text" id="memberPassword" th:field="*{memberPassword}"
                       th:errorclass="field-error" class="form-control" placeholder="현재 비밀번호">
                <div class="field-error" th:errors="*{memberPassword}">
                    비밀번호 오류
                </div>
            </div>
            <br/>

            <div>
                <label for="newPassword" th:text="#{label.member.newPassword}">새 비밀번호</label>

                <input type="text" id="newPassword" th:field="*{newPassword}"
                       th:errorclass="field-error" class="form-control" placeholder="새 비밀번호">
                <div class="field-error" th:errors="*{newPassword}">
                    새 비밀번호 오류
                </div>
            </div>
            <br/>

            <div>
                <label for="confirmPassword" th:text="#{label.member.confirmPassword}">비밀번호 확인</label>

                <input type="text" id="confirmPassword" th:field="*{confirmPassword}"
                       th:errorclass="field-error" class="form-control" placeholder="비밀번호 확인">
                <div class="field-error" th:errors="*{confirmPassword}">
                    비밀번호 확인 오류
                </div>
            </div>
            <br/>

            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.update}">변경하기</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='me.html'"
                            th:onclick="|location.href='@{/member/me}'|"
                            type="button" th:text="#{button.cancel}">취소
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-4"></div>
</div>

</body>
</html>
