<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.register}">회원 가입</h2>
    </div>

    <form th:action th:object="${member}" method="post">
        <div>
            <label for="memberId" th:text="#{label.member.memberId}">아이디</label>

            <input type="text" id="memberId" th:field="*{memberId}"
                   th:errorclass="field-error" class="form-control" placeholder="아이디를 입력하세요">
            <div class="field-error" th:errors="*{memberId}">
                아이디 오류
            </div>
        </div>
        <br/>

        <div>
            <label for="memberPassword" th:text="#{label.member.memberPassword}">비밀번호</label>

            <input type="password" id="memberPassword" th:field="*{memberPassword}"
                   th:errorclass="field-error" class="form-control" placeholder="비밀번호를 입력하세요">
            <div class="field-error" th:errors="*{memberPassword}">
                비밀번호 오류
            </div>
        </div>
        <br/>

        <div>
            <label for="name" th:text="#{label.member.name}">이름</label>

            <input type="text" id="name" th:field="*{name}"
                   th:errorclass="field-error" class="form-control" placeholder="이름을 선택하세요">
            <div class="field-error" th:errors="*{name}">
                이름 오류
            </div>
        </div>
        <br/>

        <div>
            <label for="gender" th:text="#{label.member.gender}">성별</label><br/>
            <label for="male"><input type="radio" th:field="*{gender}" th:name="gender" th:value="남자" id="male">남자</label>
            <label for="female"><input type="radio" th:field="*{gender}" th:name="gender" th:value="여자" id="female">여자</label>

            <div class="field-error" th:errors="*{gender}">
                성별 오류
            </div>
        </div>
        <br/>

        <div>
            <label for="birth" th:text="#{label.member.birth}">생년월일</label>

            <input type="text" id="birth" th:field="*{birth}"
                   th:errorclass="field-error" class="form-control" placeholder="생년월일을 입력하세요">
            <div class="field-error" th:errors="*{birth}">
                생년월일 오류
            </div>
        </div>
        <br/>

        <div>
            <label for="phoneNumber" th:text="#{label.member.phoneNumber}">전화번호</label>

            <input type="text" id="phoneNumber" th:field="*{phoneNumber}"
                   th:errorclass="field-error" class="form-control" placeholder="전화번호를 선택하세요">
            <div class="field-error" th:errors="*{phoneNumber}">
                전화번호 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button" th:text="#{button.cancel}">취소
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>