<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>title</title>
</head>
<body>
<script src="/js/addCommentSendAjax.js"></script>
<nav class="navbar navbar-expand nav-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="./main.html">Main</a>
        </div>
    </div>lc
</nav>
<div class="jumbotron mb">
    <div class="container">
        <h1 class="display-5">영화 상세 정보</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-4">
                <img th:src="${detail.poster}" alt="첨부이미지" style="width:100%" />
            </div>
            <div class="col-md-8">

                <p></p>
                <p><b>영화 제목 : </b><span class="badge badge-info" th:text="${detail.movieName}">영화제목</span>
                <p><b>장르</b> : <span th:text="${detail.categoryName}">장르</span>
                <p><b>감독</b> : <span th:text="${detail.director}">감독</span>
                <p><b>러닝타임</b> : <span th:text="${detail.runningTime}">러닝타임</span>
                <p><b>관람등급</b> : <span th:text="${detail.ageLimit}">관람등급</span>
                <p><b>출연진</b> : <span th:text="${detail.actor}">출연진</span>
                <p><b>줄거리</b> : <span th:text="${detail.story}">줄거리</span>
                <br>
            </div>

        </div>
    <div class="col-md-12">
        <div class="input-group mb-3">
            <!--<form th:action="@{/movie/detail/1}" method="post">
                <input type="hidden" th:id="memberId" th:name="memberId" th:value="${#authentication.name}">
                <span sec:authorize="isAuthenticated()">
                <input type="text" th:id="content" th:name="content" class="form-control border-dark" id="reply1" name="reply1" placeholder="관람평을 작성해주세요.">
                <input type='submit' th:value="'관람평 작성'" class='btn btn-outline-dark'>
                </span>
                <span sec:authorize="!isAuthenticated()">로그인시 리뷰작성 가능</span>
            </form>-->
            <input type="hidden" th:id="memberId" th:name="memberId" th:value="${#authentication.name}">
            <span sec:authorize="isAuthenticated()">
                <input type="text" th:id="content" th:name="content" class="form-control border-dark" id="reply1" name="reply1" placeholder="관람평을 작성해주세요.">
                <input type="button" th:id="submit" onclick="dataSend()" th:value="'관람평 작성'" class='btn btn-outline-dark'>
            </span>
            <span sec:authorize="!isAuthenticated()">로그인시 리뷰작성 가능</span>
        </div>

        <table class="table table-horizontal table-bordered table-striped">
            <thead class="thead-strong">
            <tr>
                <th>댓글 번호</th>
                <th>작성자</th>
                <th>댓글</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody id="CommentTbody">
                <tr th:if="${detail.comments != null}" th:each="comment, commentStat : ${detail.comments}">
                    <td th:text="${commentStat.index+1}">{{id}}</td>
                    <td th:text="${comment.memberName}"><a href="/static"/>{{title}}</td>
                    <td th:text="${comment.content}">{{author}}</td>
                    <td th:text="${comment.lastCreateAt}">{{modifiedDate}}</td>
                </tr>
                <tr th:if="${detail.comments.isEmpty()}">
                    <td colspan="4" class="text-center">댓글이 없습니다</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <footer>
            <p>&copy; MovieDetail </p>
        </footer>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/addCommentSendAjax.js"></script>
</body>
</html>