<!Doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"/>

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <title>예외처리</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-light">
        <div class="container px-4 px-lg-5">
            <div class="navbar-brand">
                <a class="navbar-brand" href="../main.html">Movie Cinema</a>
            </div>
        </div>
    </nav>

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">예매한 정보가 없습니다</h1>
            </div>
        </div>
    </header>
</body>
</html>